@(sha1: String, benchmarks: Seq[models.Benchmark])

@main("Scala compiler performance") {
  <section>
  <div class="row">
     <div class="span12">
       <h1><small>@sha1.take(7)</small> FooBar</h1>
     </div>
  </div>
  @for(benchmark <- benchmarks) {
   <div class="row">
     <div class="span12">
         <h3>@benchmark.name</h3>
         <p>Mean: @(benchmark.wallclock.mean.value)ms ± @("%.2f".format(benchmark.wallclock.mean.confidenceIntervalRadius))ms 
            (cov: @("%.2f".format(benchmark.wallclock.mean.cov*100))%;
             @benchmark.wallclock.mean.startIterationIndex:@benchmark.wallclock.mean.endIterationIndex)</p>
     </div>
 </div>
 }

</section>

}
